@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
}

body {
  font-size: 1.6rem;
}

main {
  display: flex;
  min-height: 90vh;
  flex-direction: column;
}

body {
  background-color: #171618;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
}

.container {
  width: 90%;
  margin: auto;
}

#shuffle-button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 18px;
  border-radius: 6px;
  height: 38px;
  width: 120px;
  border: none;
  background: linear-gradient(to left, #F23637, #FC1068);
  color: #fff;
  cursor: pointer;
}

#main-nav {
  background-color: #070707;
  color: #fff;
}

#main-nav .container {
  width: 90%;
  margin: auto;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  font-size: 30px;
  font-weight: bold;
  color: #F23637;
}

.right .divider {
  color: #f4f4f4;
  margin-right: 15px;
  margin-left: 5px;
}

.right {
  display: flex;
}

.right li {
  list-style: none;
  color: #fff;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 9px;
}

.right li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

main {
  width: 100%;
  margin-bottom: 20px;
}

main .container {
  margin-top: 30px;
  margin-bottom: 50px;
}

.container .title {
  text-align: center;
  line-height: 45px;
}

.title h2 {
  font-size: 40px;
}

.title span {
  font-size: 25px;
}

.content .square {
  margin-top: 30px;
  border: 1px solid #707070;
  background-color: #070707;
  cursor: pointer;
  padding: 10px;
}

.content {
  display: flex;
  justify-content: space-evenly;
}

.content .square:hover {
  background-blend-mode: lighten;
  background: linear-gradient(to left, #F23637, #FC1068);
  background: rgba(242, 54, 55, 0.5);
  transition: 0.2s all;
}
.content .square:hover .circle {
  background: linear-gradient(to left, #F23637, #FC1068);
  transition: 0.2s all;
}

.content .circle {
  height: 188px;
  width: 196px;
  border-radius: 150px;
  cursor: pointer;
}

.inner-cirlce {
  height: 30px;
  width: 30px;
  background-color: #070707;
  border-radius: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.genre-name {
  position: relative;
  top: 60%;
  left: 3%;
  font-size: 30px;
  color: #EEF539;
}

.metal .circle {
  background: linear-gradient(to left, #928DAB, #1F1C2C);
}

.rap .circle {
  background: linear-gradient(to left, #C31432, #240B36);
}

.alternative .circle {
  background: linear-gradient(to left, #52C234, #ED4264);
}

.pop .circle {
  background: linear-gradient(to left, #F7FF00, #DB36A4);
}

.rock .circle {
  background: linear-gradient(to left, #333333, #dd1818);
}

.techno .circle {
  background: linear-gradient(to left, #2EBF91, #8360C3);
}

.country .circle {
  background: linear-gradient(to left, #9A8478, #1E130C);
}

.jazz .circle {
  background: linear-gradient(to left, #DC2424, #4A569D);
}

.indie .circle {
  background: linear-gradient(to left, #CC95C0, #DBD4B4, #7AA1D2);
}

.hip-hop .circle {
  background: linear-gradient(to left, #833ab4, #fd1d1d, #fcb045);
}

.reggae .circle {
  background: linear-gradient(to left, #FFF200, #1E9600, #ff0000);
}

.acoustic .circle {
  background: linear-gradient(to left, #F2994A, #F2C94C);
}

/** green tick styling **/
.box-wrap .fa-check-circle {
  opacity: 0;
}

.fa-check-circle {
  position: relative;
  top: 20%;
  left: 90%;
  margin: 0;
  padding: 0;
  color: #1E9600;
  color: #F2C94C;
  color: #fff;
  transition: 0.2s all;
}

/** Next button **/
.next {
  position: relative;
  left: 90%;
  bottom: 20%;
  color: #fff;
  font-size: 20px;
  margin-bottom: 30px;
}

body {
  background-image: linear-gradient(to right, #fff5dd, white);
  font-family: "Open Sans", sans-serif;
}
body h1 {
  font-size: 4rem;
}
body h2 {
  font-size: 3rem;
}
body a {
  font-size: 1.5em;
  margin-right: 40px;
}

.container {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}
.container h1 {
  text-align: center;
  padding-bottom: 15px;
}
.container a {
  display: inline-block;
  text-align: right;
}

.gauges {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}
.gauges h1, .gauges h2 {
  text-align: center;
}

.gauge-container {
  width: 45%;
  margin: 0 15px;
}
.gauge-container h2 {
  margin-bottom: 20px;
}

.gauge1, .gauge2 {
  width: 100%;
  max-width: 500px;
}

.gauge-body {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background: whitesmoke;
  position: relative;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  overflow: hidden;
}

.gauge-fill1, .gauge-fill2 {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: 150%;
  background-image: linear-gradient(to left, #F7FF00, #DB36A4);
  transform-origin: top center;
  transform: rotate(0turn);
  transition: transform 0.2s ease-out;
}

.gauge-cover {
  width: 75%;
  height: 150%;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  /* text */
  display: flex;
  padding-bottom: 25%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OUuhpKKSTjw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UNirkOUuhpKKSTjw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.hero {
  background: linear-gradient(to right, #d6a4a4, #f4f4f4);
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__box {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.hero__logo {
  background: linear-gradient(to right, #f23637, #fc0b68);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
}
.hero__title {
  text-transform: uppercase;
  font-size: 7.5rem;
  font-weight: 500;
  letter-spacing: 1.2px;
  padding-bottom: 2rem;
  border-bottom: 2px solid #444;
}
.hero__subtitle {
  margin-top: 2rem;
  font-weight: 400;
}
.hero__cta {
  margin-top: 3rem;
  cursor: pointer;
}

.nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 6rem;
  background-color: #111;
  color: #eee;
}
.nav__logo {
  font-size: 4rem;
  font-weight: 500;
  background: linear-gradient(to right, #f23637, #fc0b68);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav__nav-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
.nav__nav-item > * {
  margin-left: 2.5rem;
}
.nav__link {
  font-size: 2rem;
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid transparent;
  padding-bottom: 1rem;
}
.nav__link:hover:not(:last-child) {
  border-bottom: 2px solid #fc0b68;
}
.nav__link:last-child {
  border-radius: 0.7rem;
  padding: 1rem 1.5rem;
}

.cta {
  border-radius: 2rem;
  padding: 1.5rem;
  width: 20rem;
  color: #eee;
  text-align: center;
  pointer: cursor;
  background: linear-gradient(to right, #f23637, #fc0b68);
}

body {
  background: linear-gradient(250deg, #3aadd9, #52c476);
  background-repeat: no-repeat;
  background-position: cover;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.main {
  padding: 50px;
}
.main h1 {
  font-size: 5rem;
  color: white;
  border-bottom: 2px solid rgba(66, 66, 66, 0.2);
  padding-bottom: 30px;
  width: 50%;
}
.main .player-container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .player-container iframe {
  border-radius: 15px;
}

footer {
  padding-right: 20px;
}

.links {
  margin-top: 10px;
  text-align: right;
}
.links .border-right {
  border-right: 2px solid rgba(66, 66, 66, 0.5);
  padding-right: 5px;
}

/*# sourceMappingURL=index.css.map */
