.about {
  width: 100%;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
      145deg,
      #d38383e6,
      rgba(253, 237, 237, 0.5)
    ),
    url(./img/about-bg.jpeg);
  background-position: center;
  background-size: cover;
  &__heading{
    text-align: center;
    margin: 3rem;
    font-size: 3rem;
  }
  a{
    cursor: pointer;
    line-height: 2.3rem;
    text-decoration: none;
    color: #efefef;
    text-shadow: 0 0 1px #fc0b68;
    &:hover {
      transform: translate(-1px, -1.5px);
      transition: 0.3s ease-in-out;
    }
  }
}

.about-container{
  width: 70%;
  margin: 6rem 0;
  padding: 3rem 5rem;
  background: rgba(34, 34, 34, 0.38);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #efefef;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.35);
  @media screen and (min-width: 1600px) {
    // width: 50%;
  }
  @media screen and (max-width: 1024px) {
    padding: 1rem;
  }
  @media screen and (max-width: 768px) { // tablet
    width: 80%;
    padding: 1.5rem;
  }
  @media screen and (max-width: 500px) { // phone
    width: 80%;
    margin: 2rem 0;
    background: rgba(34, 34, 34, 0.35);
    padding: 1rem;
  }
}

.developer-heading{
  margin: 3rem;
  text-align: center;
  font-size: 3rem;
}

.text-description{
  line-height: 2.5rem;
  width: 90%;
  font-size: 1.7rem;
  @media screen and (min-width: 1500px) {
    width: 70%;
  }
  p {
    padding-bottom: 1rem;
  }
}

.developer-cards{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  // border: 1px solid red;
}

.developer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 3rem 2rem 3rem;
  .dev-heading{
    margin-bottom: 1rem;
  }
  .dev-photo{
    width: 17rem;
    height: 17rem;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 2rem;
    @media screen and (max-width: 768px) { // tablet
      width: 13rem;
      height: 13rem;
    }
    @media screen and (max-width: 500px) { // phone
      width: 10rem;
      height: 10rem;
    }
  }
}