// ----- GLOBAL RESET -----

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem = 10px
  font-family: "Lato", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdeded;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  background: linear-gradient(145deg, #d38383, #fdeded);
  // Define body size on desktops
  width: 100%;
  height: 100%;
  // background: linear-gradient(250deg, rgb(58,173, 217), rgb(82,196,118));
}

header {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

// ----- TYPOGRAPHY -----

// Font Options

// font-family: 'Lato', sans-serif;   300, 300 italic, 400, 400 italic
