.cta {
  border-radius: 2rem;
  padding: 1.5rem;
  width: 20rem;
  color: #eee;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(to right, #f23637, #fc0b68);
  border: 2px solid #fc0b68;
  transition: .3s all;

  &:hover {
    transform: translateY(-2px);
  }
}