.cta {
  border-radius: 2rem;
  padding: 1.5rem;
  width: 20rem;
  color: #eee;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(to right, #f23637, #fc0b68);
  border: 2px solid #fc0b68;
  transition: 0.3s all;

  &:hover {
    transform: translateY(-2px);
  }
}

.next {
  margin-top: 3rem;
  align-self: flex-end;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  margin-right: 5rem;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  color: #eee;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  background: linear-gradient(to right, #f23637, #fc0b68);
}

.next--genres {
  margin-top: 5rem;
}

.highlighter {
  background: linear-gradient(to right, #f23637, #fc0b68);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.error {
  color: #eee;
  text-transform: uppercase;
  border-radius: 1rem;
  padding: 3rem;
  background: rgba(34, 34, 34, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__text {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 3rem;
  }

  &__button {
    font-size: 2rem;
    text-decoration: none;
    border-radius: 2rem;
    padding: 1.5rem;
    width: 20rem;
    color: #eee;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(to right, #f23637, #fc0b68);
    border: 2px solid #fc0b68;
    transition: 0.3s all;
  }
}

.loading {
  border: 12px solid #dfdfdf;
  border-top: 12px solid black;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 1s linear infinite;
  align-self: center;
  margin-top: 20rem;

  &.dark {
    border: 12px solid #444;
    border-top: 12px solid rgb(189, 54, 39);
  }

  &-div {
    align-self: center;
    margin-top: 10rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
