body{
    background-color: #171618;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}
.container{
    width: 90%;
    margin: auto;
}
#shuffle-button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 18px;
    border-radius: 6px;
    height: 38px;
    width: 120px;
    border: none;
    background: linear-gradient(to left, #F23637, #FC1068);
    color: #fff;
    cursor: pointer;
}
#main-nav{
    background-color: #070707;
    color: #fff;
}
#main-nav .container{
    width: 90%;
    margin: auto;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.hero{
    font-size: 30px;
    font-weight: bold;
    color: #F23637;
}
.right .divider{
    color: #f4f4f4;
    margin-right: 15px;
    margin-left: 5px;
}
.right{
    display: flex;
}
.right li{
    list-style: none;
    color: #fff;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 9px;
}
.right li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

//** main section **//
main{
    width: 100%;
}
main .container{
    margin-top: 30px;
    margin-bottom: 50px;
}
.container .title{
    text-align: center;
    line-height: 45px;
}
.title h2{
    font-size: 40px;
}
.title span{
    font-size: 25px;
}

.content .square{
    margin-top: 30px;
    border: 1px solid #707070;
    background-color: #070707;
    cursor: pointer;
    padding: 10px;
}
.content{
    display: flex;
    justify-content: space-evenly;
}
.content .square:hover{
    .circle{
        background: linear-gradient(to left, #F23637, #FC1068);
        transition: .2s all;
    }
    background-blend-mode: lighten;
    // opacity: 0.3;
    background: linear-gradient(to left, #F23637, #FC1068);
    background: rgba(242, 54, 55, 0.5);
    transition: .2s all;
}
.content .circle{
    height: 188px;
    width: 196px;
    border-radius: 150px;
    cursor: pointer;
}
.inner-cirlce{
    height: 30px;
    width: 30px;
    background-color: #070707;
    border-radius: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.genre-name{
    position: relative;
    top: 60%;
    left: 3%;
    font-size: 30px; 
    color: #EEF539;
}

// Genre colors //
.metal .circle {
    background: linear-gradient(to left, #928DAB, #1F1C2C);
}
.rap .circle {
    background: linear-gradient(to left, #C31432, #240B36);
}
.alternative .circle{
    background: linear-gradient(to left, #52C234, #ED4264);
}
.pop .circle{
    background: linear-gradient(to left, #F7FF00, #DB36A4);
}
.rock .circle{
    background: linear-gradient(to left, #333333, #dd1818);
}
.techno .circle{
    background: linear-gradient(to left, #2EBF91, #8360C3);
}
.country .circle{
    background: linear-gradient(to left, #9A8478, #1E130C);
}
.jazz .circle{
    background: linear-gradient(to left, #DC2424, #4A569D);
}
.indie .circle{
    background: linear-gradient(to left, #CC95C0, #DBD4B4, #7AA1D2);
}
.hip-hop .circle{
    background: linear-gradient(to left, #833ab4, #fd1d1d, #fcb045);
}
.reggae .circle{
    background: linear-gradient(to left, #FFF200, #1E9600,#ff0000);
}
.acoustic .circle{
    background: linear-gradient(to left, #F2994A, #F2C94C);
}


/** green tick styling **/
.box-wrap{
    .fa-check-circle{
        opacity: 0;
    }
}

.fa-check-circle{
    position: relative;
    top: 20%;
    left: 90%;
    margin: 0;
    padding: 0;
    color: #1E9600;
    color: #F2C94C;
    color: #fff;
    transition: .2s all;
    
}

