.hero {
  background: linear-gradient(to right, #d6a4a4, #f4f4f4);
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__box {
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  &__logo {
    background: linear-gradient(to right, #f23637, #fc0b68);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
  }
  &__title {
    text-transform: uppercase;
    font-size: 7.5rem;
    font-weight: 500;
    letter-spacing: 1.2px;
    padding-bottom: 2rem;
    border-bottom: 2px solid #444;
  }

  &__subtitle {
    margin-top: 2rem;
    font-weight: 400;
  }

  &__cta {
    margin-top: 3rem;
    cursor: pointer;
  }
}
