.nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 6rem;
  background-color: #111;
  color: #eee;

  &__logo {
    font-size: 4rem;
    font-weight: 500;
    background: linear-gradient(to right, #f23637, #fc0b68);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__nav-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
  }

  &__nav-item {
    & > * {
      margin-left: 5rem;
    }
  }

  &__link {
    font-size: 2rem;
    text-decoration: none;
    color: inherit;
    border-bottom: 2px solid transparent;
    padding-bottom: 1rem;
    transition: 0.3s all;

    &:hover:not(:last-child) {
      border-bottom: 2px solid #fc0b68;
    }

    &:last-child {
      border-radius: 0.7rem;
      padding: 1rem 1.5rem;
    }
  }
}
