.playlist {
  width: 100%;
  padding: 5rem;
  min-height: 90vh;
  background-image: linear-gradient(145deg, rgba(211, 131, 131, 0.9), rgba(253, 237, 237, 0.6)), url(./img/playlist-bg.jpg);
  background-position: center;
  background-size: cover;
}

.playlist h1 {
  font-size: 5.8rem;
  color: #eee;
  width: 50%;
}

.playlist__top-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.playlist__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 3rem;
  width: 50rem;
}

.playlist__featured-tracks {
  text-align: center;
  margin-top: 3rem;
  font-size: 3rem;
  color: #eee;
  font-weight: 400;
  padding: 2rem;
  background: rgba(34, 34, 34, 0.8);
}

.playlist .player-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.playlist .player-container iframe {
  border-radius: 1.5rem;
}

.playlist__track-container {
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.playlist__track-card {
  width: 30rem;
  min-height: 50rem;
  padding: 2.5rem;
  background: rgba(34, 34, 34, 0.8);
  border-radius: 1rem;
  font-size: 1.6rem;
  color: #eee;
  border-top: 2px solid #eee;
  border-left: 2px solid #eee;
  border-bottom: 2px solid #eee;
  border-right: 2px solid #eee;
  margin: 1rem;
  -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.playlist__track-card__album-image {
  width: 100%;
  margin-bottom: 1rem;
}

.playlist__track-card__band {
  font-weight: bolder;
  font-size: 2rem;
}

.playlist__track-card__album {
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
}

.playlist__track-card__title {
  padding-top: 1rem;
}

.playlist__track-card__play-track {
  margin-top: 2rem;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  height: 3.5rem;
  border-radius: 0.3rem;
  background: -webkit-gradient(linear, left top, right top, from(#f23637), to(#fc0b68));
  background: linear-gradient(to right, #f23637, #fc0b68);
  text-align: center;
  text-decoration: none;
}

.playlist__track-card__play-symbol {
  position: relative;
  font-size: 2rem;
  top: 0.3rem;
  color: #eee;
  text-decoration: none;
}
/*# sourceMappingURL=playlist-page.css.map */